.bookacall {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 100px;
}
.book-heading {
  color: #00394f;
}
.book {
  font-size: 20px;
  color: skyblue;
}

.book-left {
  flex: 1;
}
.book-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: #17a2b8;
  height: 400px;
  border-radius: 15px;
}
.book-desc {
  margin-top: 30px;
  font-size: 1.2em;
  color: gray;
}
.book-btn {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  color: white;
  background-color: #138496;
  border-radius: 9px;
}
.right-title {
  /* border: 1px solid red; */
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #00394f;
  color: white;
}
.right-field {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 300px;
  background-color: #17a2b8;
}
.right-field input {
  height: 2.5em;
  width: 15.6em;
  margin: 5px;
  border: none;
  outline: none;
}

.input-box {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
}

.book-btn1 {
  width: 18.7em;
  height: 2.5em;
  border: none;
  outline: none;
  color: white;
  background-color: #00394f;
  border-radius: 9px;
}
@media screen and (max-width: 480px) {
  .book-btn1 {
    width: 270px;
    margin-bottom: 10px;
  }
  .bookacall {
    flex-direction: column;
  }
  .input-box {
    width: 270px;
  }
  .right-title {
    flex: 1;
  }
  .book-right {
    margin-top: 20px;
    height: 500px;
  }
  .book-desc {
    font-size: 1em;
    width: 300px;
  }
}
