.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  width: 100%;
  position: sticky;
  z-index: 1000;
  background-color: #00394f;
  height: 70px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.img {
  background-image: url("/public/logo.png");
  height: 80px;
  width: 100px;
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-position: center center;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.logo {
  color: #17abb1;
  font-family: "cursive";
}
.right a {
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

.home {
  color: white;
  text-decoration: none;
  width: auto;
}
.home:hover {
  color: #17abb1;
}
.navmobile {
  /* border: 1px solid red; */
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #00394f;
}
.navmobile a {
  flex: 1;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
@media screen and (max-width: 480px) {
  .navmobile {
    border: 1px solid #00394f;

    background-color: #00394f;
  }

  .right {
    display: none;
  }
}
