.mentors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.me {
  color: skyblue;
}
.mentor-img {
  height: 250px;
  width: 200;
  border-radius: 100%;
}
.mentor-img:hover {
  filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.mentor-card {
  margin-right: 2%;
  flex: 1;
}
.mentor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}
.mentor-name {
  position: relative;
  left: 100px;
  font-size: 20px;
  color: rgb(3, 3, 63);
}
.mentor-sub {
  position: relative;
  left: 100px;
  color: rgb(3, 3, 63);
}
